{% extends 'base_html.html' %}
{% load static %}
{% block maincontent %}


<Section class="container mt-3 p-3">

    <h1 class="fs-2 static-title">About Us</h1>
    <div class="my-4">
        <p class="text-secondary about-text lh-lg">ईराष्ट्रिय मिडिया हाउस  प्रा. लि. द्वारा संचालित <a href="/" class="footer-links">Erastriya.com</a> बहु भाषामा प्रकाशित हुने डिजिटल अनलाइन पत्रिका हो । ईराष्ट्रिय मिडिया हाउस प्रा. लि. दर्ता नं 4651 मा सूचना बिभागमा दर्ता छ। तपाईंसँग कुनै लेख, रचना, विचार, सूचना, समाचार, अनियमितता तथा भ्रष्टचार सम्बन्धी र अन्य कुनै भिडियो छन भने erastriyamediahouse1@gmail.com मा पठाउन सक्नुहुनेछ । तपाईंका सामग्रीलाई हामी प्राथमिकताका साथ प्रकाशित गर्नेछौं ।</p>
        
    </div>
</Section>


{% endblock maincontent %}

