{% extends 'base_html.html' %}

{% load static %}
{% block maincontent %}
{% comment %} {% load my_filters %} {% endcomment %}

<div class="container">

    <!-- Banner news -->
    <section class="block1 my-4">
          <div class="container">
              <div class="box-1">
                      <div class="advertisement text-center">
                        <img src="{% static 'images/add1.gif' %}"/>
                      </div>
                      <div class="banner py">
                        <h3 class="front-header">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</h3>
                          
                          <div class="author py"><h4 class="text-danger">- Erastriya</h4></div>
                        
                          <img class="img-fluid mt-4 main-img" src="{% static 'images/1.jpg' %}"/>
                        </div>
                      </div> 
                </div>
            </div>
    </section>


    {% comment %}  Samachar {% endcomment %}


    <section class="block2 py-4">
    <div class="container">
        <div class="items-content ">
          {% if news %}
          <div class="main-article" >

            <h3 class="text-color text_header">समाचार</h3>
            <div class="first-news py-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                    {% for samachar in news|slice:":6" %}

                    <div class="col">                                   
                      <div class="card common-card border-0">
                        <a href="{% url 'post:detail' samachar.id %}" class="stretched-link"></a>
                        <img src="{{ samachar.image.url }}" class="card-img-bottom card-img-size img-fluid" alt="{{samachar.title}}">
                        <div class="p-2">
                        <div class="card-title text-card">{{ samachar.title }}</div>
                          <span class=""></span><span class="main-title"></span> {{samachar.dateline}}</span>

                        </div>

                    </div>
                    
                  </div>
                    {% endfor %}
                    
                  </div>
                  
                  {% endif %}
            <div class="advertisement">
              <img src="{% static 'images/add1.gif' %}" class="img-fluid">
            </div>
          </div>
          <div class="side-news px-2">
            {% include 'latestnews.html' %}
            <div class="advertisement">
              <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
            </div>
            

          </div>

        </div>
      </div>
    </div>

    </section>




 {% comment %} Politics Section {% endcomment %}
 <section class="block2 py-4">
  <div class="container">
      <div class="items-content">
        {% if politics %}
        <div class="main-article">

          <h3 class="text-color text_header">राजनीति</h3>
          <div class="first-news py-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                  {% for rajniti in politics|slice:":6" %}

                  <div class="col">                                   
                    <div class="card common-card border-0">
                      <a href="{% url 'post:detail' rajniti.id %}" class="stretched-link"></a>
                      <img src="{{ rajniti.image.url }}" class="card-img-bottom card-img-size img-fluid" alt="{{rajniti.title}}">
                      <div class="p-2">
                      <div class="card-title text-card">{{ rajniti.title }}</div>
                      <span class="main-title"></span> {{rajniti.dateline}}</span>

                      </div>

                  </div>
                  
                </div>
                  {% endfor %}
                  
                </div>
                
                
              </div>
              {% endif %}
        <div class="side-news common-ads px-2">
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid">
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div>
          

        </div>

      </div>
    </div>
  </div>

  </section>


 {% comment %} Politics Section Ends {% endcomment %}


 {% comment %} Laws Section{% endcomment %}
 <section class="block2 py-4">
  <div class="container">
      <div class="items-content box2">
        {% if laws %}
        <div class="main-article">

          <h3 class="text-color text_header">कानुन</h3>
          <div class="first-news py-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                  {% for law in laws|slice:":6" %}

                  <div class="col">                                   
                    <div class="card common-card border-0">
                      <a href="{% url 'post:detail' law.id %}" class="stretched-link"></a>
                      <img src="{{ law.image.url }}" class="card-img-bottom card-img-size img-fluid" alt="{{law.title}}">
                      <div class="p-2">
                      <div class="card-title text-card">{{ law.title }}</div>
                      <span class="main-title"></span> {{law.dateline}}</span>

                      </div>

                  </div>
                  
                </div>
                  {% endfor %}
                  
              </div>
                
                
         </div>
              {% endif %}
        <div class="side-news common-ads px-2">
          {% comment %} <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid">
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div> {% endcomment %}
          

        </div>

      </div>
    </div>
  </div>

  </section>


 
{% comment %} Laws Section Ends{% endcomment %}




 {% comment %} Sports Section {% endcomment %}
 <section class="block2 py-4">
  <div class="container">
      <div class="items-content box2" id="itemcontent">
        {% if sports %}
        <div class="main-article">

          <h3 class="text-color text_header">राजनीति</h3>
          <div class="first-news py-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                  {% for sport in sports|slice:":6" %}

                  <div class="col">                                   
                    <div class="card common-card border-0">
                      <a href="{% url 'post:detail' sport.id %}" class="stretched-link"></a>
                      <img src="{{ sport.image.url }}" class="card-img-bottom card-img-size img-fluid" alt="{{sport.title}}">
                      <div class="p-2">
                      <div class="card-title text-card">{{ sport.title }}</div>
                      <span class="main-title"></span> {{sport.dateline}}</span>

                      </div>

                  </div>
                  
                </div>
                  {% endfor %}
                  
                </div>
                
                
              </div>
              {% endif %}
        <div class="side-news common-ads px-2">
          {% comment %} <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid">
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div> {% endcomment %}
          

        </div>

      </div>
    </div>
  </div>

  </section>


 {% comment %} Sports Section Ends {% endcomment %}

 
 {% comment %} Education Section {% endcomment %}
 <section class="block2 py-4">
   <div class="container">
     <div class="items-content box2">
        {% if education %}
        <div class="main-article">

          <h3 class="text-color text_header">राजनीति</h3>
          <div class="first-news py-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                  {% for edu in education|slice:":6" %}

                  <div class="col">                                   
                    <div class="card common-card border-0">
                      <a href="{% url 'post:detail' edu.id %}" class="stretched-link"></a>
                      <img src="{{ edu.image.url }}" class="card-img-bottom card-img-size img-fluid" alt="{{edu.title}}">
                      <div class="p-2">
                      <div class="card-title text-card">{{ edu.title }}</div>
                      <span class="main-title"></span> {{edu.dateline}}</span>

                      </div>

                  </div>
                  
                </div>
                  {% endfor %}
                  
                </div>
                
                
              </div>
              {% endif %}
        <div class="side-news common-ads px-2">
          {% comment %} <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid">
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div>
           {% endcomment %}

        </div>

      </div>
    </div>
  </div>

  </section>


 {% comment %} Politics Section Ends {% endcomment %}


</div>




{% endblock maincontent %}
