{% extends 'base_html.html' %}

{% load static %}
{% load nepalidatetime %}

{% block maincontent %}
{% comment %} {% load my_filters %} {% endcomment %}

<div class="container">

    <!-- Banner news -->
    <section class="block1 my-4">
          <div class="container">
              <div class="box-1">
                      {% comment %} <div class="advertisement text-center pb-3">
                        <img src="{% static 'images/add1.gif' %}"/>
                      </div> {% endcomment %}
                      {% if main_content %}
                      <div class="banner py">
                        {% for home_content in main_content|slice:":1"%}
                        <a href="{% url 'post:detail' home_content.id %}">
                          <h2 class="front-header">{{home_content.title}}</h2>
                        </a>
                        {% comment %} <h2 class="front-header">{{home_content.title}}</h2> {% endcomment %}
                          
                          {% comment %} <div class="author py"><h4 class="text-danger">- Erastriya</h4></div> {% endcomment %}
                          {% if home_content.image %}
                          <a href="{% url 'post:detail' home_content.id %}">
                          <img class="img-fluid mt-4 main-img" src="{{ home_content.image.url }}" alt="{{home_content.title}}"/>
                        </a>

                          {% endif %}
                          {% endfor %}


                      </div> 
                      {% endif %}
                </div>
            </div>
    </section>


    {% comment %}  Samachar {% endcomment %}


    <section class="block2 py-4">
    <div class="container">
        <div class="items-content ">
          {% if news %}
            <div class="main-article" >

              <h3 class="text-color">समाचार</h3>
              <div class="first-news py-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                      {% for samachar in news|slice:":6" %}

                      <div class="col">                                   
                        <div class="card common-card border-0">
                          <a href="{% url 'post:detail' samachar.id %}" class="stretched-link"></a>
                          {% if samachar.image %}
                          <img src="{{ samachar.image.url }}" class="card-img-bottom card-img-size img-fluid" alt="{{samachar.title}}">
                          {% endif %}
                          <div class="p-2">
                          <div class="card-title text-card">{{ samachar.title }}</div>
                          {% load tz %}
                          <small class="text-muted">
                            {{ samachar.created_at|nepalihumanize:86400 }}
                          </small>

                          </div>

                        </div>
                      
                      </div>
                      {% endfor %}
                      
              </div>
                    
   
              </div>
            {% endif %}
          <div class="side-news px-2">
            {% include 'latestnews.html' %}
            {% comment %} <div class="advertisement">
              <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
            </div> {% endcomment %}
            

          </div>

        </div>
      </div>
    </div>

    </section>




 {% comment %} Politics Section {% endcomment %}
 <section class="block2 py-2">
  <div class="container">
      <div class="items-content">
        {% if politics %}
        <div class="main-article">

          <h3 class="text-color">राजनीति</h3>
          <div class="first-news py-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                  {% for rajniti in politics|slice:":6" %}

                  <div class="col">                                   
                    <div class="card common-card border-0">
                      <a href="{% url 'post:detail' rajniti.id %}" class="stretched-link"></a>
                      {% if rajniti.image %}

                      <img src="{{ rajniti.image.url }}" class="card-img-bottom card-img-size img-fluid" alt="{{rajniti.title}}">
                      {% endif %}
                      <div class="p-2">
                        <div class="card-title text-card">{{ rajniti.title }}</div>
                          <small class="text-muted">
                            {{ rajniti.created_at|nepalihumanize:86400 }}
                          </small>                     
                      </div>

                    </div>
                  
                  </div>
                  {% endfor %}
                  
           </div>
                
                
        </div>
              {% endif %}
        <div class="side-news common-ads ">
          {% comment %} <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid">
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div> {% endcomment %}
          

        </div>

      </div>
  </div>

  </section>


 {% comment %} Politics Section Ends {% endcomment %}


 {% comment %} Laws Section{% endcomment %}
 <section class="block2 py-2">
  <div class="container">
      <div class="items-content box2">
        {% if laws %}
        <div class="main-article">

          <h3 class="text-color">कानुन</h3>
          <div class="first-news py-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                  {% for law in laws|slice:":6" %}

                  <div class="col">                                   
                    <div class="card common-card border-0">
                      <a href="{% url 'post:detail' law.id %}" class="stretched-link"></a>
                      {% if law.image %}

                      <img src="{{ law.image.url }}" class="card-img-bottom card-img-size img-fluid" alt="{{law.title}}">
                      {% endif %}
                      <div class="p-2">
                      <div class="card-title text-card">{{ law.title }}</div>
                      <small class="text-muted">
                        {{ law.created_at|nepalihumanize:86400 }}
                      </small>
                      </div>

                  </div>
                  
                </div>
                  {% endfor %}
                  
              </div>
                
                
         </div>
              {% endif %}
        <div class="side-news common-ads px-2">
          {% comment %} <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid">
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div> {% endcomment %}
          

        </div>

      </div>
    </div>
  </div>

  </section>


 
{% comment %} Laws Section Ends{% endcomment %}




 {% comment %} Sports Section {% endcomment %}
 <section class="block2 py-2">
  <div class="container">
      <div class="items-content box2" id="itemcontent">
        {% if sports %}
        <div class="main-article">

          <h3 class="text-color">खेलकुद</h3>
          <div class="first-news py-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                  {% for sport in sports|slice:":6" %}

                  <div class="col">                                   
                    <div class="card common-card border-0">
                      <a href="{% url 'post:detail' sport.id %}" class="stretched-link"></a>
                      {% if sport.image %}
                      <img src="{{ sport.image.url }}" class="card-img-bottom card-img-size img-fluid" alt="{{sport.title}}">
                      {% endif %}
                      <div class="p-2">
                      <div class="card-title text-card">{{ sport.title }}</div>
                      <small class="text-muted">
                        {{ sport.created_at|nepalihumanize:86400 }}
                      </small>
                      </div>

                  </div>
                  
                </div>
                  {% endfor %}
                  
                </div>
                
                
              </div>
              {% endif %}
        <div class="side-news common-ads px-2">
          {% comment %} <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid">
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div> {% endcomment %}
          

        </div>

      </div>
    </div>
  </div>

  </section>


 {% comment %} Sports Section Ends {% endcomment %}

 
 {% comment %} Education Section {% endcomment %}
 <section class="block2 py-2">
   <div class="container">
     <div class="items-content box2">
        {% if education %}
        <div class="main-article">

          <h3 class="text-color">शिक्षा</h3>
          <div class="first-news py-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                  {% for edu in education|slice:":6" %}

                  <div class="col">                                   
                    <div class="card common-card border-0">
                      <a href="{% url 'post:detail' edu.id %}" class="stretched-link"></a>
                      {% if edu.image %}
                      <img src="{{ edu.image.url }}" class="card-img-bottom card-img-size img-fluid" alt="{{edu.title}}">
                      {% endif %}
                      <div class="p-2">
                      <div class="card-title text-card">{{ edu.title }}</div>
                      <small class="text-muted">
                        {{ edu.created_at|nepalihumanize:86400 }}
                      </small>
                      </div>

                  </div>
                  
                </div>
                  {% endfor %}
                  
                </div>
                
                
              </div>
              {% endif %}
        <div class="side-news common-ads px-2">
          {% comment %} <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid">
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div>
          <div class="advertisement mb-4">
            <img src="{% static 'images/bill-hicks-mic-tap.gif' %}" class="img-fluid"/>
          </div>
           {% endcomment %}

        </div>

      </div>
    </div>
  </div>

  </section>


 {% comment %} Politics Section Ends {% endcomment %}


</div>




{% endblock maincontent %}
