{% extends 'base_html.html' %}
{% block maincontent %}
{% load static %}

 <!-- category news -->
 <section class="block-1 py1">
  <div class="container">
      <div class="catName">
          <h3>राजनीति  </h3>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for post_politics in page_obj|slice:":6" %}

        <div class="col">
          <div class="card category-wise">
            <img src="{{post_politics.image.url}}" class="card-img-top img-fluid category-image" alt="{{post_politics.title}}">
            <div class="card-body">
              <h5 class="card-title">{{post_politics.title}}</h5>
              <a href="{% url 'post:detail' post_politics.id %}" class="stretched-link"></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
     {% comment %} <div class="first-news-1 py1 d-flex gap-5">
      {% for politic in politics|slice:":6" %}
       <div class="card" style="width: 25rem;">
          <img src="{{politic.image.url}}" class="card-img" alt="{{politic.title}}">
          <div class="card-img-overlay align-items-end text-white">
            <h3 class="card-title">{{politic.title}}</h3>
        <p class="card-text"><small>{{politic.dateline}}</small></p>
        <a href="{% url 'post:detail' politic.id %}" class="stretched-link"></a>
          </div>
        </div>  
    
          
       
      {% endfor %}  
        
     </div> {% endcomment %}

  
  </section>
  <section class="block-3 py1">
      <div class="container">
          <div class="ads">
              <img src="./img/add.gif"/>
          </div>
      </div>
     </section>
  <!-- Additional news -->
     <section class="block-2 py1">
      <div class="container flex">
          <div class="news-list-2">
              <h3>थप समाचार</h3>
              {% for post_politics in page_obj|slice:"6:12" %}
              <div class="additinal-news">
                  <div class="card mb-3" style="width:40rem;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ post_politics.image.url }}" style="height: 14rem;"class="img-fluid rounded-start" alt="{{ post_politics.title}}">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{post_politics.title}}</h5>
                            {% comment %} <p class="card-text">नेकपा (एमाले)को सचिवालय बैठक सुरू भएको छ । ललितपुरको च्यासलस्थित एमाले केन्द्रीय कार्यालयमा बैठक सुरू ........</p> {% endcomment %}
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              {% endfor %}
          </div>
          <!-- Latest Updates -->
       <div class="news-list-1">
        {% include 'latestnews.html' %}

       </div>

      </div>


      <div class="m-3 text-center">
        <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
        
              <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
        
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
        </div>
        </div> 
     </section>
     <!-- advertisement sections -->
     <section class="block-3 py1">
      <div class="container">
          <div class="ads">
              <img src="./img/add.gif"/>
          </div>
      </div>
     </section>
    


 </section>


{% endblock maincontent %}


