{% extends 'base_html.html' %}
{% block maincontent %}
THis is politics page

<section class="block-1 py1">
  <div class="container">
      <div class="catName">
          <h3>राजनीति  </h3>
      </div>
      <div class="first-news d-flex gap-5 mt-3">
        {% for rajniti  in politics %}
        <div class="card " style="width: 18rem;">
          {% if rajniti.featured_image %}
          <img src="{{ rajniti.featured_image.url }}" class="card-img-top" alt="{{ rajniti.title }}" width="250" height="250">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ rajniti.title }}</h5>
            <p class="card-text">काठमाडौं । नेपाली कांग्रेसबाट भावी राष्ट्रपतिमा प्रस्तावित रामचन्द्र पौडेलले आफूमाथि संविधानको रक्षा र जनताको अधिकार संरक्षण गर्ने चुनौति आउन लागेको बताएका छन् ।.</p>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>      

{% endblock maincontent %}


