{% extends 'base_html.html' %} {% load static %} 
{% block title %}
{{ post.title }}
{% endblock title %}
{% block meta_tags %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:title" content="{{post.title}}">
  <meta property="og:image" content="{{image_url}}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:description" content="{{post.summary}}">
  <meta property="og:type" content="article">
  <meta property="og:site_name " content="{{post.title}}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@erastriya.com">
  <meta name="twitter:title" content="{{post.title}}">
  <meta name="twitter:description" content="{{post.summary}}">
  <meta name="twitter:image" content="{{image_url}}">

  <meta name="subject" content="erastriya">
  <meta name="publisher" content="erastriya">  
{% endblock %}
{% block maincontent %}
{% load nepalidatetime %}
{% load embed_video_tags %}
{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock stylesheet %}

<!-- Banner news -->
<section class="block2 py">
  <div class="container">
      <div class="post-detail pb-4 row gap-4">
          <div class="py-3 col-sm-12 col-md-12 col-lg-8">
            <h6 class="bg-danger p-2 d-inline text-light">{{post.tags}}</h6>

            <h1 class="my-4 detail-title">{{post.title}}</h1>
            <hr>
            <div class="headline-reporter my-4">
              <div class="reporter-detail">
                <div class="reporter-icon"><i class="fa-regular fa-user" style="color: #9a9996; font-size:2.6rem;"></i></div>
                <div class="reporter-title">
                  <span>{{post.reporter}}</span>
                  <small>{{post.dateline|nepalidate:"%A, %B %d, %Y" }}</small>
                </div>
                
              </div>
              <div class="share-button">
                <div class="sharethis-inline-share-buttons share-btn" data-url="{{ share_url }}" data-title="{{ post.title }}" data-image="{{ image_list}}" data-description="{{ post.summary }}"></div>                   
      
              </div>
            </div>
        
            <div class="first-news gap-3">
              <!-- details-page-ads -->
              {% if upper_section %}
                <div class="container">
                  <div class="ads">
                    <img width="100%" src="{{upper_section.image.url}}" />
                  </div>
                </div>
                {% endif %}
              
                <div class="text-justify">{{ post.content|safe }}</div>
                {% if post.video %}
                <div class="text-center my-2 object-fit-contain px-2 ratio ratio-16x9">
                  {% video post.video 'small' %}

                </div>
                {% endif %}

              {% comment %} 
              <section>
                <div class="container">
                  <div class="ads">
                    <img width="100%" src="./img/hilltake.gif" />
                  </div>
                </div>
              </section>
              <section class="py1">
                <div class="container">
                  <div class="ads">
                    <img width="100%" src="./img/add1.gif" />
                  </div>
                </div>
              </section> {% endcomment %}
              <div class="er-reaction mt-2">
                <h2 class="text-center" style="color:#0D47A1;">यो खबर पढेर तपाईलाई कस्तो महसुस भयो ?</h2>

                <div class="sharethis-inline-reaction-buttons" style="overflow-y: hidden;">

                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64">
                      <circle cx="32" cy="32" r="30" fill="#ffdd67"></circle><g fill="#664e27"><circle cx="20.5" cy="26.6" r="5"></circle><circle cx="43.5" cy="26.6" r="5"></circle><path d="m44.6 40.3c-8.1 5.7-17.1 5.6-25.2 0-1-.7-1.8.5-1.2 1.6 2.5 4 7.4 7.7 13.8 7.7s11.3-3.6 13.8-7.7c.6-1.1-.2-2.3-1.2-1.6"></path></g>
                    </svg>
                    <span class="st-count">0</span>
              

                </div>
              </div>
              <!-- comment section -->
              <div class="comment-area">
                  <div class="comment py1">
                    <div><h3 class="text-color">प्रतिकिर्या</h3></div>
                    
                    <div
                      class="fb-comments"
                      data-href="{{ current_url }}"
                      data-width="100%"
                      data-numposts="5"
                    ></div>
                  </div>
              </div>
           
               </div>
               <div class="additinal-news py1">
                <div><h3 class="text-color">थप समाचार</h3></div>
                <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4 mt-3 ">
                  {% for add_post in additional_news|slice:":4" %}
                   
                  <div class="col">
                    <div class="card category-wise border-0">
                      {% if add_post.image %}
                      <img src="{{add_post.image.url}}" class="card-img-top img-fluid additional_img" alt="{{add_post.title}}">
                      {% endif %}
                      <div class="card-body">
                        <span class="card-title exclude-title">{{add_post.title}}</span>
                        <a href="{% url 'post:detail' add_post.id %}" class="stretched-link"></a>
                           
                        <p class="card-text">
                         {% load tz %}
                          <small class="text-muted">{{ add_post.created_at|nepalihumanize:172800 }}</small></p>
          
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>

               </div> 
          </div>     
          <!-- list of latest taja update  -->

          <div class="LatestUpdate_post col-sm-0 col-md-0 col-lg-4 " style="max-width:100%; ">
   
              <!-- advertisememt details page -->
              {% comment %} <div class="latest-ads py1">
                <img src="{{ url '' }}" width="100%" />
              </div> {% endcomment %}

              <!-- end of details page advertisement -->
              <div class="news-list-1 mt-3">{% include 'latestnews.html' %}</div>
          </div>
       </div>
   </div>
</section>

{% endblock maincontent %}
