{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="baseUrl" content="https://www.erastriya.com">
       <meta name="publisher" content="erastriya">
    </meta>   
    <title>
        {% block title %}
         ERastriya
        {% endblock title %}
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fav/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'fav/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
       <!-- Define a block for meta tags -->
       {% block meta_tags %}
       {% endblock %}
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/bs.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.scss' %}">
    <link rel="stylesheet" href="{% static 'css/style.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    {% endblock stylesheet %}
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6480a747cc05f10013916a63&product=inline-share-buttons&source=platform" async="async"></script>   </head>
    {% comment %} <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6458cab31b837f0019d42081&product=inline-share-buttons&source=platform" async="async"></script></head> {% endcomment %}
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0" nonce="kP8lYj67" referrerPolicy="strict-origin-when-cross-origin"></script>

    {% block content %}
    {% endblock content %}
    {% block script %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bs.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <script src="{% static 'js/user.js' %}"></script>


    {% endblock script %}

</body>
</html>