  
<div class="footer container-fluid mb-0">
    <div class="container flex">
      <div class="address">
        <ul>
          
          <li>710 20th St N</li>
          <li>City/Town	Birmingham</li>
          <li>State/Province/Region	Alaska</li>
          <li>Zip/Postal Code	35203</li>
          <li>Phone Number	(205) 254-2152</li>
          <li>Country	United States</li>
        </ul>
      </div>
      <div class="useful-links"><ul>
          
        <li><a href="">गृहपृष्ट </a></li>
        <li><a href="">कानुन </a></li>
        <li><a href="">अर्थ </a></li>
        <li><a href="">शिक्षा </a></li>
        <li><a href="">राजनीति </a></li>
        
      </ul></div>
      <div class="social-icon"><ul>
          
        
        <li><a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></li>
        <li><a href="https://www.Facebook.com/"><i class="bi bi-facebook"></i></a></li>
        <li><a href="https://www.whatsapp.com/"><i class="bi bi-whatsapp"></i></a></li>
          
      </ul></div>
    </div>
   </div>
   
