{% load static %}

<div class="footer">
  <div class="container flex">
    <div class="logo">
      <img width='150px' height='100px'src="{% static 'images/logo.png' %}"/>
      <h4>हरपल हजुरको साथमा </h4>
    </div>
    <div class="address">
      <h3>सम्पर्क ठेगाना </h3>
      <ul>
        <li>का.म.न.पा.- १० बानेश्वर, काठमान्डौ</li>
        
        
      </ul>
    </div>
    <div class="useful-links">
      <h3>मेनु</h3>
      <ul>
      <li><a href="">गृहपृष्ट </a></li>
      <li><a href="">कानुन </a></li>
      <li><a href="">अर्थ </a></li>
      <li><a href="">शिक्षा </a></li>
      <li><a href="">राजनीति </a></li>
      
    </ul>
    </div>
    <div class="facebook-page">
  <h3>फेसबुक पेज </h3>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Erastriya.com</p>
     </div>
     </div>
     </div>
  </div>
 </div>
 <div class="bottom ">
  <div class="container flex">
    <div class="copy-right"> <p>&copy; 2023 Erastriya.com. All rights reserved.</p></div>
  <div class="social-icon"><ul>
        
      
    <li><a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></li>
    <li><a href="https://www.Facebook.com/"><i class="bi bi-facebook"></i></a></li>
    <li><a href="https://www.whatsapp.com/"><i class="bi bi-whatsapp"></i></a></li>
      
  </ul></div>
 </div>
 </div>
  
