{% load static %}
  <!-- top part -->
  <div class="top">
    <div class="container flex">
      <div class="date"> नेपाली समय ०९:१२:४८ राती  सोमबार, फागुन ८, २०७९</div>
      <div class="social-icon">
        <ul>
          <li><a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></li>
          <li><a href="https://www.Facebook.com/"><i class="bi bi-facebook"></i></a></li>
          <li><a href="https://www.whatsapp.com/"><i class="bi bi-whatsapp"></i></a></li>
          </ul>
      </div>
    </div>
  </div>

  

  <!-- logo and first ad section -->
  <header>
    <div class="container flex">
      <div class="logo">
        <img width="170px" height="100px" src="{% static 'images/logo.png' %}"/>
      </div>
      <div class="ads py">
        <img src="{% static 'images/add.gif' %}"/>
      </div>
    </div>
  </header>



  <!-- Navigation -->
  <nav id="nav-bar">
    <div class="container flex">
      <div class="nav">
        <ul>
          <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>गृहपृष्ट</a></li>
          <li><a href="{% url 'post:news' %}">समाचार </a></li>
          <li><a href="{% url 'post:politics' %}">राजनीति </a></li>
          <li><a href="{% url 'post:law' %}">कानुन </a></li>
          <li><a href="{% url 'post:sports' %}">खेलकुद </a></li>
          <li><a href="{% url 'post:education' %}">शिक्षा </a></li>
          <li><a href="others.html">अन्य </a></li>
        </ul>
      </div>
      <!-- User module -->
      <div class="user">
        
        <button class="btn">Search</button>
        <button class="btn">English</button>
        {% comment %} <div class="dropdown d-inline">
          <ul class="dropdown-menu z-2">
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><a class="dropdown-item" href="#">Signup</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
          <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i></button>
          
        </div> {% endcomment %}
        <button class="btn"><i class="bi bi-person-circle"></i></button>

      </div>
    </div>
   </nav>
   