<header >
    <div class="container ">
        <div class="flex py-5">
        <a href="index.html">
            <img width='180px' height='120px'src="img/logo.png" class="logo"/>
            
        </a>
        <!-- Space for top ads -->
        <div class="ads">
            <img  width='100%'src="img/add.png"/>
        </div>
    </div>
    </div>
   </header>
<nav>
    <div class="container flex">
        <div>
        <ul>
            <li class=""><a href="#"><i class="fa fa-home" aria-hidden="true"></i>गृह पृष्ट </a></li>
            <li><a href="#">राजनीति  </a></li>
            <li><a href="#">कानुन </a></li>
            <li><a href="#">आर्थिक  </a></li>
            <li><a href="#">शिक्षा </a></li>
            <li><a href="#">खेलकुद  </a></li>
            <li><a href="#">अन्य </a></li>
        </ul>
    </div>
    <!-- Search icon -->
    <div class="search">
        <ul>
            <li>Search</li>
            <li>English</li>
        </ul>
    </div>
    </div>
   </nav>