<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erastriya.com</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
  <!-- top part -->
  <div class="top">
    <div class="container flex">
      <div class="date"> नेपाली समय ०९:१२:४८ राती  सोमबार, फागुन ८, २०७९</div>
      <div class="social-icon">
        <ul>
          <li><a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></li>
          <li><a href="https://www.Facebook.com/"><i class="bi bi-facebook"></i></a></li>
          <li><a href="https://www.whatsapp.com/"><i class="bi bi-whatsapp"></i></a></li>
          </ul>
      </div>
    </div>
  </div>
  <!-- logo and first ad section -->
  <header>
    <div class="container flex">
      <div class="logo">
        <img width="170px" height="100px" src="./img/logo.png"/>
      </div>
      <div class="ads py">
        <img src="./img/add.gif"/>
      </div>
    </div>
  </header>
  <!-- Navigation -->
 <nav>
  <div class="container flex">
    <div class="nav">
      <ul>
        <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>गृहपृष्ट</a></li>
        <li><a href="news.html">समाचार </a></li>
        <li><a href="politics.html">राजनीति </a></li>
        <li><a href="law.html">कानुन </a></li>
        <li><a href="sports.html">खेलकुद </a></li>
        <li><a href="education.html">शिक्षा </a></li>
        <li><a href="others.html">अन्य </a></li>
      </ul>
    </div>
    <!-- User module -->
    <div class="user">
      
      <button class="btn">Search</button>
      <button class="btn">English</button>
      <button class="btn"><i class="bi bi-person-circle"></i></button>
    </div>
  </div>
 </nav>
 <!-- category news -->
 <section class="block-1 py1">
  <div class="container">
      <div class="catName">
          <h3>अन्य </h3>
      </div>
      
     <div class="first-news-1 py1 d-flex gap-5">
      <div class="card" style="width: 25rem;">
          <img src="./img/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h3>
            <p class="card-text">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादवगणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</p>
            
          </div>
        </div>
        <div class="card" style="width: 25rem;">
          <img src="./img/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h3>

            <p class="card-text">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादवगणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</p>
            
          </div>
        </div>
        <div class="card" style="width: 25rem;">
          <img src="./img/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h3>
            <p class="card-text">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादवगणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</p>
            
          </div>
        </div>
        

     </div>
     <div class="first-news-1 py1 d-flex gap-5">
      <div class="card" style="width: 25rem;">
          <img src="./img/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h3>
            <p class="card-text">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादवगणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</p>
            
          </div>
        </div>
        <div class="card" style="width: 25rem;">
          <img src="./img/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <<h3 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h3>
            <p class="card-text">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादवगणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</p>
            
          </div>
        </div>
        <div class="card" style="width: 25rem;">
          <img src="./img/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h3>
            <p class="card-text">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादवगणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</p>
            
          </div>
        </div>
        

     </div>
  </section>
  <section class="block-3 py1">
      <div class="container">
          <div class="ads">
              <img src="./img/add.gif"/>
          </div>
      </div>
     </section>
  <!-- Additional news -->
     <section class="block-2 py1">
      <div class="container flex">
          <div class="news-list-2">
              <h3>थप समाचार</h3>
              <div class="additinal-news">
                  <div class="card mb-3" style="width:40rem;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="./img/1.jpg" style="height: 14rem;"class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h5>
                            <p class="card-text">नेकपा (एमाले)को सचिवालय बैठक सुरू भएको छ । ललितपुरको च्यासलस्थित एमाले केन्द्रीय कार्यालयमा बैठक सुरू ........</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="additinal-news">
                  <div class="card mb-3" style="width:40rem;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="./img/1.jpg" style="height: 14rem;"class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h5>
                            <p class="card-text">नेकपा (एमाले)को सचिवालय बैठक सुरू भएको छ । ललितपुरको च्यासलस्थित एमाले केन्द्रीय कार्यालयमा बैठक सुरू ........</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="additinal-news">
                  <div class="card mb-3" style="width:40rem;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="./img/1.jpg" style="height: 14rem;"class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h5>
                            <p class="card-text">नेकपा (एमाले)को सचिवालय बैठक सुरू भएको छ । ललितपुरको च्यासलस्थित एमाले केन्द्रीय कार्यालयमा बैठक सुरू ........</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="additinal-news">
                  <div class="card mb-3" style="width:40rem;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="./img/1.jpg" style="height: 14rem;"class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h5>
                            <p class="card-text">नेकपा (एमाले)को सचिवालय बैठक सुरू भएको छ । ललितपुरको च्यासलस्थित एमाले केन्द्रीय कार्यालयमा बैठक सुरू ........</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="additinal-news">
                  <div class="card mb-3" style="width:40rem;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="./img/1.jpg" style="height: 14rem;"class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h5>
                            <p class="card-text">नेकपा (एमाले)को सचिवालय बैठक सुरू भएको छ । ललितपुरको च्यासलस्थित एमाले केन्द्रीय कार्यालयमा बैठक सुरू ........</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="additinal-news">
                  <div class="card mb-3" style="width:40rem;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="./img/1.jpg" style="height: 14rem;"class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h5>
                            <p class="card-text">नेकपा (एमाले)को सचिवालय बैठक सुरू भएको छ । ललितपुरको च्यासलस्थित एमाले केन्द्रीय कार्यालयमा बैठक सुरू ........</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              
          </div>
          <!-- Latest Updates -->
       <div class="news-list-1">
          <h3>ताजा अपडेट</h3>
          <div class="card" style="width: 25rem;">
              <img src="./img/1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></h4>
                <p class="card-text">नेकपा (एमाले)को सचिवालय बैठक सुरू भएको छ । ललितपुरको च्यासलस्थित एमाले केन्द्रीय कार्यालयमा बैठक सुरू .......... ।</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
                <li class="list-group-item"><a href="details.html">गणतन्त्रलाई सुदृढ गर्न राजनीतिक दलको व्यवहारमा सुधार जरुरी छ : पूर्वराष्ट्रपति यादव</a></li>
              </ul>
              
            </div>
       </div>

      </div>

     </section>
     <!-- advertisement sections -->
     <section class="block-3 py1">
      <div class="container">
          <div class="ads">
              <img src="./img/add.gif"/>
          </div>
      </div>
     </section>
    


 </section>
 <div class="footer">
  <div class="container flex">
    <div class="logo">
      <img width='150px' height='100px'src="./img/logo.png"/>
      <h4>हरपल हजुरको साथमा </h4>
    </div>
    <div class="address">
      <h3>सम्पर्क ठेगाना </h3>
      <ul>
        <li>का.म.न.पा.- १० बानेश्वर, काठमान्डौ</li>
        
        
      </ul>
    </div>
    <div class="useful-links">
      <h3>मेनु</h3>
      <ul>
      <li><a href="">गृहपृष्ट </a></li>
      <li><a href="">कानुन </a></li>
      <li><a href="">अर्थ </a></li>
      <li><a href="">शिक्षा </a></li>
      <li><a href="">राजनीति </a></li>
      
    </ul>
    </div>
    <div class="facebook-page">
  <h3>फेसबुक पेज </h3>
    <div class="card" style="width: 18rem;">
  <img src="./img/logo.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Erastriya.com</p>
     </div>
     </div>
     </div>
  </div>
 </div>
 <div class="bottom ">
  <div class="container flex">
    <div class="copy-right"> <p>&copy; 2023 Erastriya.com. All rights reserved.</p></div>
  <div class="social-icon"><ul>
        
      
    <li><a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></li>
    <li><a href="https://www.Facebook.com/"><i class="bi bi-facebook"></i></a></li>
    <li><a href="https://www.whatsapp.com/"><i class="bi bi-whatsapp"></i></a></li>
      
  </ul></div>
 </div>
 </div>
  


 
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>