img{
    max-width:100% !important;
    height:auto !important;
    object-fit:cover;
  }

.LatestUpdate_post{
  overflow-y: hidden;
}


.reporter-icon{
  float:left;
  margin-right:.8rem;
}
.reporter-icon i{
  font-size:1.2rem;

}
.reporter-title span,.card-body span{
  display:block;
  font-weight: 700;
}
.share-button{
  float:right;
  
}

.additional_img{
  height:10rem !important;
  object-fit: cover;

}

.st-label{
  overflow-y: hidden !important;
}

#btn-back-to-top {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  display: none;
  z-index: 9999;
  border:none;
  border-radius: 100%;
  color:white;
  font-size: 1.8rem;
  cursor: pointer;
  outline:none;
}

/* Arrow icon styles */
#btn-back-to-top .fas {
  color: white; /* Arrow color */
  font-size: 2rem; /* Increase icon size */
}

#btn-back-to-top:hover{
  background-color:#0b3a80;
}