$brand:#0D47A1;
$sec:#DF0D00;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.top{
    background: $brand;
    line-height: 45px;
}
.container{
    .date{
        color: #fff;

    }
    .social-icon{
        ul{
            list-style: none;
            li{
                display: inline;
                a{
                    color: #fff;
                    text-decoration: none;
                    padding: 0px 10px;
                }
            }
        }
    }
}
.py{
    margin: 13px;
}
nav{
    background: $brand;
    line-height: 45px;
    .nav{
        ul{
            list-style: none;
            li{
                display: inline;
                a{
                    text-decoration: none;
                    color: #fff;
                    padding: 0px 20px;
                    font-weight: 600;
                    &:hover{
                        background: $sec;
                        padding: 14px 20px;
                    }
                }
            }
        }
    }
}
.btn{
    padding: 4px 13px;
    border: none;
    border-radius: 17px;
    margin: 10px;
    color: $sec;
    &:hover{
        background: $sec;
        color: #fff;
         box-shadow: 2px 2px 5px 2px rgba(243, 7, 7, 0.3);
    }
}
.block1{
   .box{
    border-bottom: 2px solid #ccc;
    
   }
    
.banner{
    
    
    h3{
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        &:hover{
            color:$sec;
            cursor: pointer;
        }
    }
    .author{
        text-align: center;
        font-size: 25px;
        &:hover{
            color: $sec;
            cursor: pointer;
        }
    }
}

}