* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x:hidden;
}


/* Dropdown Menu */
/* Style the dropdown button */


/* Dropdown Menu */


/* Logo Image starts */

.logo img{
  width:20vw;
  height:auto;
}
/* Logo Image ends */


/* Main Homepage image */
.main-img{
  width:100%;
}


/* Main Homepage image */


/* Front Page Text */
.front-header{
  text-align: center;
  font-size:3rem;
  text-decoration: none !important;
  font-weight: bold;
  overflow-y:hidden;
  color:#000;
  padding-top: 1rem;
  
}
.front-header:hover{
  color:#DF0D00;
}


/* Front Page Text */


/* Removing the overflow in titles  */
.exclude-title{
  overflow-y: hidden;
}



/* Removing the overflow in titles  */

/* text color red */
.text-color{
border-bottom: 4px solid #0D47A1;  
  display: inline-block;
  font-weight: 700;
}

.text_header{
  background: #DF0D00;
  padding: .3rem .9rem;
  color: #fff;
  display: inline-block;


}

/* Card-Common */
.card_common {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Resizing the image */

.resize_img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: bottom;
}


/* Resizing the image ends */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.top {
  max-width:100%;
  background: #0D47A1;
  line-height: 2.9rem;
}

.display_date{
  color: #fff;
}
.container .social-icon ul {
  list-style: none;
}
.container .social-icon ul li {
  display: inline;
}
.container .social-icon ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0px 10px;
}

.py {
  margin: 13px;
}

nav {
  background: #0D47A1;
  line-height: 2.8125rem;
  overflow:hidden;



}
.nav{
  display:flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;



}

.nav ul {
  list-style: none;
  overflow: hidden;
  display:flex;
  


}
nav .nav ul li {
  display: inline;
  overflow: hidden;



}
nav .nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 0px 20px;
  cursor: pointer;
  transition: all 0.2s;

}
#nav ul li a:hover{
  /* border-bottom: 5px solid #DF0D00; */
  padding: .9rem 1.2rem;
  color: #DF0D00;

}
#nav ul li a:after,
#nav ul li a:before {
  transition: all .5s;
}

.nav ul li .dropdown-btn .dropbtn{
color:#fff;
background-color: inherit;
border:none;
font-weight: 600;
padding:0px 20px;
cursor: pointer;
transition: all 0.2s;


}


.dropdown-content{
  display: none;
  position:fixed;
  min-width: 4rem;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:999999 !important;
  overflow-y: auto;
}
.dropdown-content:hover{
  background-color: #DF0D00;

}
.show{
  display:block;


}


#myDropdown a{
  text-decoration: none;
  background-color:#0D47A1;
  font-weight: 600;
  text-align: left;
  display:block;
  border-bottom: 1px solid grey !important;
  padding:.4rem .8rem;
  border-bottom: #ccc;
  overflow-y: auto;
}



.search-btn:hover{
  background: none !important;
  box-shadow: none !important;
}
.search-btn i{
  font-size:1.3rem;
  margin-left: 0;
}

/* Toggle button start */
.toggle-button{
  position: relative;
  top:0;
  right:-90%;
  display:none;
}

.toggle-button i, .close-btn i{
  font-size: 1.6rem;
  cursor: pointer;

}

.close-btn{
  display:none;
  position: relative;
  top:.5rem;
  right:-90%;
}
/* Toggle button ends */


.btn {
  padding: .25rem .8rem;
  border: none;
  border-radius: 17px;
  margin: 10px;
  color: #DF0D00;
}
.btn:hover {
  background: #DF0D00;
  color: #fff;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(243, 7, 7, 0.3);
          box-shadow: 2px 2px 5px 2px rgba(243, 7, 7, 0.3);
}

.block1 .box {
  border-bottom: 2px solid #ccc;
}

.banner a{
  text-decoration: none;
  overflow-y: hidden;
}

.block1 .banner h3:hover {
  color: #DF0D00;
  cursor: pointer;
}
.block1 .banner .author {
  text-align: center;
}
.author h4{
  
  font-size: 1.5rem;
}
.block1 .banner .author:hover {
  color: #DF0D00;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */
  /* font-size: 16px;
} */

.block1 .banner h3 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.block1 .banner h3 a {
  text-decoration: none;
  color: #000;
}
.block1 .banner .author {
  text-align: center;
  font-size: 25px;
}
.block1 .banner .author:hover {
  color: #DF0D00;
  cursor: pointer;
}


.block2 .samachar .card-text {
  font-size: 15px;
}
.block2 .samachar h5 a {
  text-decoration: none;
  color: #000;
}

.block2 .LatestUpdate {
  width: 25%;
  height: auto;

  
}

.LatestUpdate_post{
  width:100%;
}
  
.block2 .LatestUpdate .latest-news ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

.block2 .box {
  background: #ccc;
}
.block2 .box h4 {
  margin-left: .8rem;
  margin-top: 1.2rem;
}

.block2 .box1 {
  border-bottom: 2px solid #ccc;
}
.block2 .samachar {
  width: 75%;
  height: auto;
}


.block2 .box {
  background: #fff;
}
.block2 .box h4 {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 20px;
}

.second-news {
  margin-top: 10px;
}
/* 
.box2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
} */

.rajniti .first-news p {
  font-size: 15px;
}
.rajniti .first-news h5 a {
  text-decoration: none;
  color: #000;
}
.rajniti .second-news p {
  font-size: 15px;
}
.rajniti .second-news h5 a {
  text-decoration: none;
  color: #000;
}


.kanun-news .first-news p {
  font-size: 15px;
}
.kanun-news .first-news h5 a {
  text-decoration: none;
  color: #000;
}
.kanun-news .second-news p {
  font-size: 15px;
}
.kanun-news .second-news h5 a {
  text-decoration: none;
  color: #000;
}

.block4 .container .box2 {
  border-bottom:0;
  padding:0;
}

.footer {
  background: #f4f2f2;
  height: 200px;
}
.footer .logo h4 {
  color: #DF0D00;
}
.footer .address h3 {
  color: #000;
}
.footer .address ul {
  list-style: none;
}
.footer .address ul li {
  color: #323232;
  text-decoration: none;
}
.footer .useful-links ul {
  list-style: none;
}
.footer .useful-links ul li a {
  text-decoration: none;
  color: #000;
  padding: 20px;
}

.bottom {
  background: #0D47A1;
  line-height: 45px;
}
.bottom .copy-right {
  color: #fff;
}
.bottom .socail-icon ul {
  list-style: none;
  overflow-y:hidden;
}
.bottom .socail-icon ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}
.bottom .socail-icon ul li a:hover {
  -webkit-box-shadow: 2px 2px 5px 3px rgba(239, 232, 232, 0.3);
          box-shadow: 2px 2px 5px 3px rgba(239, 232, 232, 0.3);
  padding: 5px;
}

.block-1 .first-news-1 h3 a {
  text-decoration: none;
  color: #000;
}
.block-1 .catName {
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding: 1.5rem 1.5rem;
}
.block-1 .catName h3 {
  background: #DF0D00;
  padding: 5px 15px;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
}

.py1 {
  margin-top: 1.3rem;
}

.block-2 .card-body .card-title a {
  text-decoration: none;
  color: #000;
}

.news-list-1 ul li a {
  text-decoration: none;
  color: #000;
}

.block-3 {
  margin-bottom: 20px;
}
.block-3 .ads img {
  width: 100%;
  height: 100px;
  text-align: center;
}

.block2 .share-button .icon span ul {
  list-style: none;
  overflow-y: hidden;
}
.block2 .share-button .icon span ul li {
  display: inline;
}
.block2 .share-button .icon span ul li a {
  padding: 8px 15px;
  font-size: 25px;
  background: #ccc;
  margin-right: 15px;
  border-radius: 8px;

}

.additinal-news .card-body .card-title a {
  text-decoration: none;
  color: #000;
}

.LatestUpdate ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
.LatestUpdate .card-body .card-title a {
  text-decoration: none;
  color: #000;
}

/* Latest News  start */

.latest-card{


  display:inline;
  overflow-y:hidden;
}

/* Latest News  ends */

.top {
  width: 100%;
  margin: auto;
}

.comment .box{
  background: #fff;
}
/* .footer {
  width: 1200px;
  margin: auto;
}

.bottom {
  width: 1200px;
  margin: auto;
} */

.first-news p {
  font-size: 20px;
}

.box {
  width: 823px;
  height: 445px;
  background: #323232;
  border-radius: 5px;
}
.box form {
  margin-top: 10px;
}
.box #cmt {
  width: 747px;
  height: 127px;
  border: none;
  margin-left: 26px;
  border-radius: 5px;
}
.box #username {
  width: 747px;
  height: 50px;
  border: none;
  margin-left: 26px;
  border-radius: 5px;
}
.box #email {
  width: 747px;
  height: 50px;
  border: none;
  margin-left: 26px;
  border-radius: 5px;
}
.box button {
  padding: 15px;
  border: none;
  margin-left: 25px;
  margin-top: 10px;
  border-radius: 10px;
}
.box button:hover {
  background: #DF0D00;
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}/*# sourceMappingURL=style.css.map */


/* Styling for news  */


.main-article{
  grid-area:content;

}
.side-news{
  grid-area:right;
}
.items-content{
  display:grid;
  gap:1rem;
  
}

.main-article{
  grid-column: 1 / span 3;


}
.side-news{

  grid-column: 4;
}
.common-ads{
  padding-top: 4.5rem;
}
.common-ads img{
  max-width:100%; 
  height:auto;

}


/* Card image size  */


.wrapper {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3,1fr);
    grid-gap: .5rem;
  }


.card-style {
  grid-column:span 3;

}
.common-card{
  height: auto;
}

.side-card{
  max-width:20rem;
  height: 7rem;


}

.side-card-img{
  object-fit: cover;
  width:6rem !important;
  height:4rem !important;
  float:left;
  margin-right: .6rem;

}

.latest-title p{
font-weight: 600;
font-size: .9rem;

}
.category-image{
  height:21rem;

}
/* End Card image size  */

/* End Styling for news  */



/* Comment section styling */
.comment{
  display:flex;
  flex-direction: column;
  justify-content: start;
}



/* Comment section styling */



/* Css for footer */
footer{
  line-height:1.875rem;
  overflow-y: hidden;
}
.logo-footer img{
  width:13rem;
  max-width:50vw;
  height:auto;
}
.footer-about p{
  /* font-size:1rem; */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.footer-social-logo{
  padding-top: .8rem;
  text-align: start;
  padding-left: 0;
  align-items: start;
}
.footer-social-logo li{
  text-decoration: none;
  list-style: none;
  padding-right: 1rem;


}

.footer-social-logo a i{
  color:grey;
  text-decoration: none;
  font-size: 1.3rem;

  
}
.footer-social-logo a i:hover{
  color:red;
  background-color: none;

  
}
.footer-text-color{
  color:#0D47A1;
  font-weight: 500;
  }
.quick-links-ul li a{
    text-decoration: none;
    color:grey;
    transition: all 0.2s;
  
  
  }

.footer-links{
    cursor: pointer;
    font-weight: 400;
  }
  
.footer-links:hover{
    color:red;
  }


  .footer-team p{
    margin-bottom: 0 !important;
  }
  .footer-team-partition{
    margin-bottom: .7rem;
  }

  
  .footer-bottom{
    background: #0D47A1;
    color:white;
 
 }
  
/* end of footer section */
/* start of bottom footer */
.bottom {
  background: #0D47A1;
  line-height: 50px;
  text-align: center;


}
.bottom .copy-right span {
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

/* @media (max-width: 768px) {
  #nav-bar .container {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  #nav-bar .nav {
    width: 100%;
    text-align: center;
    display: none;
  }
  #nav-bar .nav.active {
    display: block;
  }
  #nav-bar .nav li {
    display: block;
    margin-bottom: 10px;
  }
  #nav-bar .toggle-button {
    display: block;
    cursor: pointer;
  }
}

 */


 /*Styling for category page starts*/
.category_additional{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  gap:2rem;
}

/* Styling for category page ends */


/* Additional Card in Category starts */

.additional-card{
 padding-top:1rem !important;
 padding-bottom:1rem;
  display:flex;
  justify-content: start;
}
.additional-card-img{
  object-fit: cover;
  width:13rem;
  min-width: 12rem;
  height:10rem;
  margin-right: .6rem;



}
.additional-title{

  margin-left:1.5rem;
}
.additional-title h4{
  font-weight: bold;
}


/* Additional Card in Category ends */


/* Styling for Samachar in index page */
.card-img-size{
  height:14rem;
  object-fit: cover;
}

.text-card{
  font-weight: 600 !important;
  font-size:1.2rem;
}


/* Styling for Samachar in index page */


/* Post Detail Title */
.detail-title{
  font-weight: 700;
  padding:1rem;
  
}


/* Post Detail Title */




/* Share button  */
.reporter-detail{
  float:left;
}

.headline-reporter .share-button{
  display: inline-block;
}

.headline-reporter .share-button .share-btn{
  display: inline-block;
  font-size: 0.5vw;
}


/* Share button  */

/* Homepage Timeshow */

.text-muted{
  margin-bottom: 0.8rem;
}
/* Homepage Timeshow */




/* Advertisement,Contact,About page */
.static-title{
  font-weight: 600 !important;



}
